body {
    display: flex;
    margin:0px;
    padding:0px;
}
#game-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vh;
    height:100vh;
    border: 1px solid darkseagreen;
}
.cell {
    flex: flex-grow 25%;
    min-width: 25%;
    min-height: 25%;
}
#blurb {
    margin: 15px;
}